.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.env
build/
ios/Flutter/.last_build_id

android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties

*.iml
*.log
